/* Sidebar */


.sidebar{

position:fixed;
left:0;
top:0;
width:260px;
height:100vh;
background:white;
padding:25px;
border-right:1px solid #ddd;

}


.logo{

font-size:24px;
font-weight:bold;
margin-bottom:35px;

}


.menu a{

display:block;
color:#333;
text-decoration:none;
padding:15px;
margin-bottom:10px;
border-radius:8px;
border-left:3px solid transparent;
transition:.3s;

}


.menu a:hover{

background:#e5e5e5;

}


.menu a.active{

background:#eeeeee;
border-left:3px solid #333;

}
