<div class="sidebar">

    <div class="logo">
        AnadoluRay
    </div>

    <nav class="menu">

        <a href="index.html" class="menu-link">
            Ana Sayfa
        </a>


        <div class="menu-title">
            Hatlar
        </div>


        <a href="hatlar/isletmede.html" class="menu-link">
            İşletmedeki Hatlar
        </a>

        <a href="hatlar/insahalinde.html" class="menu-link">
            İnşa Halindeki Hatlar
        </a>

        <a href="hatlar/projeasamasında.html" class="menu-link">
            Proje Aşamasındaki Hatlar
        </a>

        <a href="hatlar/iptal&revize.html" class="menu-link">
            İptal & Revize Edilmiş Hatlar
        </a>

    </nav>

</div>
